doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    block head_end

  body
    block content
    i.ns-icon-home
    .ns-container.ns-container-center home - 메인페이지 입니다.
      button.ns-button.ns-button-primary.ns-button-large 시작하기
    block body_end
